.player {
  background: white;
  border-radius: 10px;
  width: 40%;
  min-width: 520px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}

.photo {
  display: inline-block;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.info p {
  font-weight: bold;
  font-size: 16px;
}
